.footer {
	background-color: $color-secondary;
	grid-column: full-start / full-end;
	padding: 8rem;
}

.nav {
	list-style: none;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-gap: 2rem;
	align-items: center;

	&__link:link,
	&__link:visited {
		font-size: 1.4rem;
		color: #fff;
		text-decoration: none;
		font-family: $font-display;
		text-transform: uppercase;
		text-align: center;
		padding: 1.5rem;
		display: block;
		transition: all .2s;
	}
	
	&__link:hover,
	&__link:active {
		background-color: rgba(#fff, .05);
		transform: translateY(-3px);
	}

}

.copyright {
	font-size: 1.4rem;
	color: $color-grey-light-2;
	margin-top: 6rem;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	width: 100%;

		&__link:link,
		&__link:visited {
			color: 	$color-grey-light-2;
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
			transition: all .2s;
		}

		&__link:hover,
		&__link:active {
			color: $color-primary;
			box-shadow: 0 1rem 2rem rgba(0,0,0, .4);
			transform: rotate(5deg) scale(1.3);
		}
}